.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: black;
    color: white;
}

.imageContainer {
    width: 100%;
    max-width:400px; 
    margin-top: 150px; 
  }
  
  .profileImage {
    width: 100%;
    height: auto; 
    border-radius: 10px; 
  }

.content {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
}

.font {
    font-size: 36px;
    margin-top: 130px;
}

.description {
    margin-top: 20px;
    display: flex;
    margin-right:200px;

}

.range {
    margin-top: 20px;
}

.range p {
    margin: 10px 0;
    margin-top:5px;
}

.range input[type='range'] {
    -webkit-appearance: none;
    width: 90%;
    height: 8px;
    border-radius: 10px;
    background-color: #FD6F00;
    cursor: pointer;
}

.range input[type='range']::-webkit-slider-runnable-track,
.range input[type='range']::-moz-range-track,
.range input[type='range']::-ms-fill-lower,
.range input[type='range']::-ms-fill-upper {
    background-color:#FD6F00;
    border-radius: 10px;
    height: 8px;
}

.range input[type='range']::-webkit-slider-thumb,
.range input[type='range']::-moz-range-thumb,
.range input[type='range']::-ms-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #FD6F00;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}


@media (min-width: 600px) {
    .wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 40px;
    }

    .content {
        text-align: left;
    }

    .font {
        font-size: 40px;
    }

    .range {
        margin-top: 20px;
    }
}

@media (min-width: 900px) {
    .wrapper {
        padding: 50px;
    }

    .content {
        padding-left: 40px;
    }

    .font {
        font-size: 48px;
    }

    .range {
        width: 80%;
        margin: 40px 0 0 0;
    }

    .range input[type='range'] {
        height: 10px;
    }

    .range input[type='range']::-webkit-slider-thumb,
    .range input[type='range']::-moz-range-thumb,
    .range input[type='range']::-ms-thumb {
        width: 24px;
        height: 24px;
        margin-top: -8px;
    }
}
