.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding: 50px;
  margin-left: 110px;
  margin-top: 80px;
}

.textContainer {
  max-width: 50%;
}

.greeting, .name, .role {
  margin: 0;
}

.greeting {
  font-size: 24px;
}

.name {
  font-size: 25px;
  color: #FD6F00;
}

.role {
  font-size: 60px;
  margin-top: 0px;
  font-weight: 600;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  margin-right: 200px;
}

.hireMeButton {
  background-color:#FD6F00;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  width: 180px;
}

.imageContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  position: relative;
}

.profileImage {
  width: 300px;
  margin-bottom: 20px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.socialLinks i {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  top: 200px;
  right: 320px;
}

.socialLinks i:hover {
  color: #FD6F00;
}

.test{
   display: block;
   position: relative;
   left:150px;
   margin-top:-20px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: black;
  }

  .textContainer {
    max-width: 100%;
    text-align: center;
  }

  .name {
    font-size: 28px;
  }

  .role {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  .hireMeButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .profileImage {
    width: 200px;
    margin-top: 30px;
  }

  .socialLinks {
    flex-direction: column;
  }

  .socialLinks i {
    font-size: 20px;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 10px;
    padding: 15px;
    background-color: black;
  }

  .name {
    font-size: 24px;
  }

  .role {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }

  .hireMeButton {
    font-size: 12px;
    padding: 6px 12px;
  }

  .profileImage {
    width: 150px;
  }

  .socialLinks i {
    font-size: 18px;
  }
}