
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 100px;
  color: white;
  background-color: black;
}

.content {  
  text-align: center;
  padding: 0 20px;
}

.heading {
  font-style: normal;
  line-height: 1.2;
  font-size: 32px;
  color: #FFFFFF;
  padding:100px;
  margin-bottom:-70px;

}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #FFFFFF;
  margin-bottom: 40px;
  max-width: 90%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  margin-top:50px;
}

.card {
  background: #F8F8F8;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
}

.cardTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 10px;
}

.cardDescription {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #000000;
}


@media (min-width: 600px) {
  .heading {
      font-size: 36px;
      margin-top: -80px;
  }

  .paragraph {
      font-size: 18px;
      line-height: 1.8;
      max-width: 700px;
  }

  .cards {
      grid-template-columns: repeat(2, 1fr);
  }

  .cardTitle {
      font-size: 24px;
  }

  .cardDescription {
      font-size: 16px;
  }
}

@media (min-width: 900px) {
  .heading {
      font-size: 42px;
      margin-top: -100px;
  }

  .paragraph {
      font-size: 20px;
      max-width: 800px;
  }

  .cards {
      grid-template-columns: repeat(3, 1fr);
  }

  .cardTitle {
      font-size: 28px;
  }

  .cardDescription {
      font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .heading {
      font-size: 50px;
      margin-top: -120px;
  }

  .paragraph {
      font-size: 21px;
      max-width: 932px;
  }

  .cards {
      grid-template-columns: repeat(4, 1fr);
  }

  .cardTitle {
      font-size: 32px;
  }

  .cardDescription {
      font-size: 19px;
  }
}
